%footer
  .container_12
    %span
      Richmond Hill, Ontario Canada
      &nbsp;&nbsp;|&nbsp;&nbsp;
      = link_to "fortunatelysweet@gmail.com", "mailto:fortunatelysweet@gmail.com"
      &nbsp;&nbsp;|&nbsp;&nbsp;
    
    / FACEBOOK
    %span{:style=>"top:40px;position:relative;"}
      :plain
        <iframe src="http://www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FFortunately-Sweet%2F131772926834814&amp;width=230&amp;colorscheme=light&amp;show_faces=false&amp;stream=false&amp;header=true&amp;height=62" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:230px; height:62px;" allowTransparency="true"></iframe>
  
  / MIXPANEL BADGE
  / .mixpanel_badge.center.hidden
  /   :plain
  /     <a href="http://mixpanel.com/?from=partner"> <img src="http://mixpanel.com/site_media/images/mixpanel_partner_logo.gif" alt="Mobile Analytics by Mixpanel" /> </a>




-# Grab Google CDN's jQuery. Fall back to local if necessary
%script{ :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js" }
%script
  !window.jQuery && document.write('<script src="/js/jquery.min.js"><\/script>')

-# Javascript to overlay grid for column based layout development. http://hashgrid.com/
%script{:type => 'text/javascript', :src => '/js/hashgrid.js'}

-# Application-specific javascript
%script{:type => 'text/javascript', :src => '/js/global.js'}



/ MIXPANEL TRACKING
-# NOTE: i can't find a use for this at the moment...
-#:plain
-#  <script type='text/javascript'> var mp_protocol = (('https:' == document.location.protocol) ? 'https://' : 'http://'); document.write(unescape('%3Cscript src="' + mp_protocol + 'api.mixpanel.com/site_media/js/api/mixpanel.js" type="text/javascript"%3E%3C/script%3E')); </script> <script type='text/javascript'> try {  var mpmetrics = new MixpanelLib('f614cf4662269fb1840a1fd0efea65ce'); } catch(err) { null_fn = function () {}; var mpmetrics = {  track: null_fn,  track_funnel: null_fn,  register: null_fn,  register_once: null_fn, register_funnel: null_fn }; } </script>

/ GOOGLE ANALYTICS TRACTING
:plain
  <script type="text/javascript">
  
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-11964422-1']);
    _gaq.push(['_trackPageview']);
    
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    
  </script>
