!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title start
    %link{:rel => 'stylesheet', :href => "/css/reset.css"}
    %link{:rel => 'stylesheet', :href => "/css/960.css"}
    %link{:rel => 'stylesheet', :href => "/css/text.css"}
    %link{:rel => 'stylesheet', :href => "/style.css"}
    %link{:rel => 'shortcut icon', :href => "/images/favicon.png"}
    
    %script{:src => "/js/jquery.min.js"}
    %script{:src => "/js/jquery-ui-1.8.1.custom.min.js"}

  %body
    .centerbox.container_12
      = img("header.png")
      = yield
    
    
    %footer
      %p
        Richmond Hill, Ontario Canada&nbsp;&nbsp;|&nbsp;&nbsp;  
        = link_to "fortunatelysweet@gmail.com", "mailto:info@thecupcakeshopperaleigh.com"

