.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("IMG_8635.JPG")
      = photo("cover.png")
      = photo("brown-flowers.jpg")
      
      
  .grid_6
    .right_text
      Here at Fortunately Sweet, we believe in small batch baking and
      providing top quality cupcakes. Our homemade cupcakes are beautifully
      designed and oh so tastey, a delight for both the young and young at
      heart.

      For your next birthday, dinner party, wedding or shower, we welcome
      the opportunity to cater your event and add that special touch.

      Costs range from $1.50 to $2.50 per cupcake, dependent upon the detail
      of design. For special orders, we will work with you to create what
      you are looking for at just the right cost.
