.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      = photo("brown-flowers.jpg")
      = photo_h("IMG_8635.jpg")
      = photo_h("cover.png")
      
      
      
  .grid_6
    .right_text
      Welcome to Fortunately Sweet. Keep us in mind for your special
      occasions. Our cupcakes are perfect treats for your friends and
      family.

      Whether it's for your holiday gifts or that special someone,
      Fortunately Sweet will satisfy your every need.
