.container_12{:style=>"height:350px"}
  .grid_6{:style=>"height:350px"}
    
    #rotate
      .hidden= photo("IMG_8635.jpg")
      .hidden= photo("cover.png")
      = photo("brown-flowers.jpg")
      
      
  .grid_6
    .right_text
      Welcome to Fortunately Sweet. Keep us in mind for your special
      occasions. Our cupcakes are perfect treats for your friends and
      family.

      Whether it's for your holiday gifts or that special someone,
      Fortunately Sweet will satisfy your every need.
    
  .main_page.hidden
    Here at Fortunately Sweet, we believe in small batch baking and
    providing top quality cupcakes. Our homemade cupcakes are beautifully
    designed and oh so tastey, a delight for both the young and young at
    heart.

    For your next birthday, dinner party, wedding or shower, we welcome
    the opportunity to cater your event and add that special touch.

    Costs range from $1.50 to $2.50 per cupcake, dependent upon the detail
    of design. For special orders, we will work with you to create what
    you are looking for at just the right cost.


:javascript
  function hasBorderRadius() {
    var d = document.createElement("div").style;
    if (typeof d.borderRadius !== "undefined") return true;
    if (typeof d.WebkitBorderRadius !== "undefined") return true;
    if (typeof d.MozBorderRadius !== "undefined") return true;
    return false;
  };
  if (hasBorderRadius()) { // 1
    $("img.thin_border").each(function() { // 2
    $(this).wrap('<div class="thin_border" />'); // 3
    var imgSrc = $(this).attr("src"); // 4
    var imgHeight = $(this).height(); // 4
    var imgWidth = $(this).width(); // 4
    $(this).parent()
    .css("background-image", "url(" + imgSrc + ")")
    .css("background-repeat","no-repeat")
    .css("height", imgHeight + "px")
    .css("width", imgWidth + "px"); // 5
    $(this).remove(); // 6
    });
  }
  
  // add rotation code here
  
  
  
  
