$default_rounding: 3px

=top_rounding($rounding: $default_rounding)
  -moz-border-radius-topleft: $rounding
  -webkit-border-top-left-radius: $rounding
  border-top-left-radius: $rounding
  -moz-border-radius-topright: $rounding
  -webkit-border-top-right-radius: $rounding
  border-top-right-radius: $rounding

=bottom_rounding($rounding: $default_rounding)
  -moz-border-radius-bottomleft: $rounding
  -webkit-border-bottom-left-radius: $rounding
  border-bottom-left-radius: $rounding
  -moz-border-radius-bottomright: $rounding
  -webkit-border-bottom-right-radius: $rounding
  border-bottom-right-radius: $rounding

=full_rounding($rounding: $default_rounding)
  +top_rounding($rounding)
  +bottom_rounding($rounding)


a
  color: #1C0A05

body
  background-color: #FBEAEA
  padding-top: 150px 
  


.center
  text-align: center
  

.centerbox
  text-align: center
  background-color: white
  border: 3px solid #1C0A05
  -webkit-border-radius: 12px
  -moz-border-radius: 12px
  border-radius: 12px
  padding: 10px




footer
  text-align: center
  




// TEMP STUFF

.brown
  border: 1px solid #1C0A05

.red
  border: 1px solid red