@import reset
// @import base
@import hashgrid
@import grid-960
// @import plugins

// Uncomment below to include type, grid and color stylesheets. These are included to
// keep css logically separated

// @import type
// @import grid
// @import colors

@import handheld
@import print


// Custom Styles go here


$light_pink: #F9C3D4
$dark_brown: #1C0A05


a
  color: $dark_brown

body
  //  background-color: #D4A0AD
  background-color: #fff
  padding-top: 120px 
  font-family: helvetica, arial
  font-size: 14px
  line-height: 150%


.centerbox
  text-align: center
  background-color: $light_pink
  border: 5px solid $dark_brown
  -webkit-border-radius: 52px
  -moz-border-radius: 52px
  border-radius: 52px
  padding: 10px 10px 100px 10px




.header
  .logo
    position: relative
    top: -120px
    height: 10px
    -webkit-transform: rotate(0.0deg)
    -moz-transform: rotate(0.0deg)
    img
      width: 180px
    
    

footer
  font-size: 12px
  text-align: center
  vertical-align: text-top
  
  position: relative
  top: -35px
  
  



.right_text
  font-family: helvetica
  font-size: 14px
  padding: 10px
  color: $dark_brown
  text-align: justify
  column-width: 200px
  column-gap: 10px


// INDEX

.contest


// GALLERY
.small_outer
  width: 100px
  height: 100px
  float: left
  padding: 5px
  
  &.hover
    .outer_border
      border: 1px solid $dark_brown !important
    .inner_border
      border: 2px solid $dark_brown !important
  



// PHOTO stuff
.outer_border
  overflow: hidden
  position: absolute
  
  border: 1px solid $dark_brown
  
  -webkit-transform: rotate(-0.0deg)
  -moz-transform: rotate(-0.0deg)
  
  -moz-box-shadow: 1px 1px 3px #888
  -webkit-box-shadow: 1px 1px 3px #888
  box-shadow: 1px 1px 3px #888
  
  &.small
    width: 100px
    height: 100px
    
    -webkit-border-radius: 10px
    -moz-border-radius: 10px
    border-radius: 10px
    
    img
      height: 96px
      width: 96px
      
    .inner_border
      border: 2px solid #fff
      background-size: 150%
      
      -webkit-border-radius: 10px
      -moz-border-radius: 10px
      border-radius: 10px
    
    
  
  &.big
    height: 362px
    width: 458px
    
    -webkit-border-radius: 22px
    -moz-border-radius: 22px
    border-radius: 22px
    
    img
      height: 350px
      width: 446px
    
    .inner_border
      border: 6px solid #fff
      -webkit-border-radius: 22px
      -moz-border-radius: 22px
      border-radius: 22px
    



.thin_border
  padding: 0px
  margin: 0px
  
  
  
  







// TEMP STUFF

.brown
  border: 1px solid $dark_brown

.red
  border: 1px solid red

.yellow
  background-color: yellow
  
.hidden
  display: none !important

.left
  float: left

.right
  float: right

.bold
  font-weight: bold

.center
  text-align: center
